In [1]:
from requests import Request, Session
from requests.exceptions import ConnectionError, Timeout, TooManyRedirects
import json
import time
import datetime
import pandas as pd

In [2]:
## Convert given date to unix-milliseconds
date1 = '2022-01-23'
unix = pd.to_datetime(date1).value // 10**9
print(date1,":",unix)

date2 = '2022-01-24'
unix = pd.to_datetime(date2).value // 10**9
print(date2,":",unix)

2022-01-23 : 1642896000
2022-01-24 : 1642982400

In [3]:
url = 'https://api.coingecko.com/api/v3/coins/bitcoin/market_chart/range?vs_currency=usd&from=1642896000&to=1642982400'
## Preparing the Request
req = Request('GET', url)

## Creating the Session
sess = Session()

## Making the Request
prepped = sess.prepare_request(req)

## Sending the Request
try:
    resp = sess.send(prepped)
except (ConnectionError, Timeout, TooManyRedirects) as e:
    print(e)
else:
    print(resp.status_code, resp.reason)
    print(resp.text)

200 OK
{"prices":[[1642896166621,35180.435462830384],[1642899604966,35432.61134395314],[1642903362311,35448.608106994194],[1642906830933,35044.59262923074],[1642910508104,35176.65728559375],[1642914151050,35348.42857530886],[1642917659189,35591.25705774395],[1642921325713,35342.902225939535],[1642924951086,35673.892148853825],[1642928575653,35760.80532005177],[1642932210452,35974.488705639684],[1642935648639,35898.49265417996],[1642939382142,35764.30539081825],[1642942855334,35924.69475847814],[1642946608245,36066.53867510662],[1642950193192,35208.08509273927],[1642954326416,35476.641272607],[1642957238487,35363.39608281859],[1642960836652,35472.73143627676],[1642964487734,35005.57945651765],[1642968200712,34804.560652713786],[1642971750755,35332.049887473404],[1642975229876,35566.67303014184],[1642978900086,35578.38113726986]],"market_caps":[[1642896166621,666220701468.4846],[1642899604966,671229135223.7238],[1642903362311,672843789878.7097],[1642906830933,663652347029.8301],[1642910508104,667024803963.1033],[1642914151050,669408851284.4828],[1642917659189,669144508354.0773],[1642921325713,669306847075.9701],[1642924951086,676614444957.8046],[1642928575653,677223826829.0125],[1642932210452,681459865867.596],[1642935648639,679833520194.343],[1642939382142,677293686199.6987],[1642942855334,680332205593.169],[1642946608245,683018840328.7296],[1642950193192,667049731722.6296],[1642954326416,670433659293.4631],[1642957238487,669707786772.2845],[1642960836652,671779040667.0657],[1642964487734,662933668429.5022],[1642968200712,659127655895.1528],[1642971750755,669119244070.2184],[1642975229876,673563858978.5541],[1642978900086,673384832281.8615]],"total_volumes":[[1642896166621,35517336417.257744],[1642899604966,34858671845.273254],[1642903362311,34405602640.59341],[1642906830933,33824047534.172935],[1642910508104,33021623496.881107],[1642914151050,32991963733.290344],[1642917659189,32939865337.255337],[1642921325713,32035092344.227673],[1642924951086,31476562248.925236],[1642928575653,31429158752.069717],[1642932210452,31322356130.960354],[1642935648639,27980573265.820477],[1642939382142,26748968171.48769],[1642942855334,26143385836.215725],[1642946608245,25319542658.070587],[1642950193192,25064206181.529686],[1642954326416,24498607958.104908],[1642957238487,23641113787.859543],[1642960836652,23159339373.091396],[1642964487734,22319159065.035976],[1642968200712,22233564486.708412],[1642971750755,21855911378.753204],[1642975229876,21696302828.450016],[1642978900086,21280930949.553043]]}

In [4]:
data = json.loads(resp.text)
prices = data['prices']

df = pd.DataFrame(prices)

In [5]:
df.head()

               0             1
0  1642896166621  35180.435463
1  1642899604966  35432.611344
2  1642903362311  35448.608107
3  1642906830933  35044.592629
4  1642910508104  35176.657286

In [6]:
## Change column names to ['timestamp', 'price']
df.columns = ['timestamp', 'price']
df.head()

       timestamp         price
0  1642896166621  35180.435463
1  1642899604966  35432.611344
2  1642903362311  35448.608107
3  1642906830933  35044.592629
4  1642910508104  35176.657286

In [7]:
## Convert timestamp format from unix-milliseconds to datetime
df['timestamp'] = pd.to_datetime(df['timestamp'], unit='ms')
df.head()

                timestamp         price
0 2022-01-23 00:02:46.621  35180.435463
1 2022-01-23 01:00:04.966  35432.611344
2 2022-01-23 02:02:42.311  35448.608107
3 2022-01-23 03:00:30.933  35044.592629
4 2022-01-23 04:01:48.104  35176.657286

In [8]:
## Seperate date and time from timestamp column
df['date'] = df['timestamp'].dt.date
df['time'] = df['timestamp'].dt.time
## Drope timestamp column
df.drop(columns=['timestamp'], inplace=True)
df.head()

          price        date             time
0  35180.435463  2022-01-23  00:02:46.621000
1  35432.611344  2022-01-23  01:00:04.966000
2  35448.608107  2022-01-23  02:02:42.311000
3  35044.592629  2022-01-23  03:00:30.933000
4  35176.657286  2022-01-23  04:01:48.104000

In [9]:
## Remove value after decimal point from second in time column
df['time'] = df['time'].astype(str).str[:8]
df.head()

          price        date      time
0  35180.435463  2022-01-23  00:02:46
1  35432.611344  2022-01-23  01:00:04
2  35448.608107  2022-01-23  02:02:42
3  35044.592629  2022-01-23  03:00:30
4  35176.657286  2022-01-23  04:01:48

In [12]:
data_loc = '../Data/'
df.to_csv(data_loc + 'bitcoin_price_data.csv', index=False)